.App {
  text-align: center;
  font-family: 'Cormorant', serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main_canvas_container{
  position: relative;
  padding: 5%;
   width: 700px;
   height: 500px;
   
}

// #control-box{
//   position: relative;
//  width: 500px;
//  height: 500px;
// //  background-color: blue;
// padding-top: 20px;
// //  z-index: 4;
// }
