
$main-font: 'Cormorant', serif;
$tomato: #FFFFFF;
$blue: #271DAD;

%small-padding {
    margin: 2%;
  padding: 5px;
}

@mixin flex-basics($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

@mixin fixed-height-and-width($height, $width) {
  height: $height ;
  width: $width ;
}

body {
  font-family: $main-font;
}

#nav-bar{
  background-color: $blue;
  height: 100px;
  z-index: 1;
}

.flex-parent-main{
  @include flex-basics(row);  width: 100%;
  flex-wrap: 2;
}

.box {
  @extend %small-padding;
  @include fixed-height-and-width(400px, 550px);
  flex: 0 auto;
  background-color: $tomato;
  border: #271DAD;
  border-style: solid;
  border-left-style: hidden;
  border-radius: 4px;
}

.box:hover {
    @extend %small-padding;
  @include fixed-height-and-width(400px, 550px);
  flex: 0 auto;
  background-color: $tomato;
  border: $blue;
  border-style: solid;
  border-left-style: solid;
  border-radius: 4px;
}

.expanded-content {
  @extend %small-padding;
  background-color: $tomato;
}

.button-container {
  display: flex;
  justify-content: right;
}

.hero-text {
  font-family: $main-font;
  font-size: 170px;
  font-weight: bold;
  color: $blue;
}

#web-gl-box {
  @extend %small-padding;
  @include fixed-height-and-width(800px, 1000px);
  @include flex-basics(colum);
  background-color: teal;
  margin: 5px;
}

#main_canvas_container{
  @include fixed-height-and-width(600px, 900px);
  background-color: white;
  position: relative;
  padding: 5%;
}

.tilt{
    @extend %small-padding;

}

#splash-box{
  text-align: center;
  align-content: center;
  color: #fff;
  background-color: #5DA889;
  position: fixed;
  width: 100%;
  height: 100%;
}

.introduction-appear {
 transform: translate3d(0, 100%, 0)
}

.introduction-appear.introduction-appear-active {
    transform: translate3d(0, 0, 0);
  transition: transform 1.5s ease-in-out;
}



#name-animation{
  font-size: 100px;
}

#animation-container{
 @include fixed-height-and-width(800px, 1000px); 
}

.image {
  position: absolute;
}

#image-front{

}

#image-mid{

}

#image-back{

}

.main-image{
  background: url("sketch-01.png")
}

.main-image:hover{
  background: url("blenderimage-01.png")
}