.box, .expanded-content, #web-gl-box {
  margin: 2%;
  padding: 5px; }

body {
  font-family: "Cormorant", serif; }

#nav-bar {
  background-color: blue;
  height: 100px;
  z-index: 1; }

.flex-parent-main {
  background-color: blanchedalmond;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-wrap: 2; }

.box {
  flex: 0 auto;
  background-color: tomato;
  width: 550px;
  height: 400px; }

.expanded-content {
  background-color: tomato; }

.button-container {
  display: flex;
  justify-content: right; }

.hero-text {
  font-family: "Cormorant", serif;
  font-size: 170px;
  font-weight: bold;
  color: blanchedalmond; }

#web-gl-box {
  display: flex;
  flex-direction: colum;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  background-color: teal;
  margin: 5px;
  width: 800px;
  height: 600px; }

#main_canvas_container {
  background-color: white;
  position: relative;
  width: 700px;
  height: 500px;
  padding: 5%; }
