
$main-font: 'Cormorant', serif;
$white: rgba(255, 255, 255, 0.94);
$blue: #271DAD;

%small-padding {
    margin: 2%;
  padding: 5px;
}

@mixin fixed-height-and-width($height, $width) {
  height: $height ;
  width: $width ;
}

%box {
    @extend %small-padding;
    @include fixed-height-and-width(400px, 550px);
    flex: 0 auto;
    background-color: $white;
    text-align: left;
    
}

@mixin flex-basics($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
}



body {
  font-family: $main-font;
}

#nav-bar{
  background-color: $blue;
  height: 100px;
  z-index: 1;
}

.flex-parent-main{
  @include flex-basics(row);  width: 100%;
  flex-wrap: 2;
}

.box-one{
  -webkit-transition:0.5s;
  @extend %box;
  border: #271DAD;
  border-style: solid;
  border-left-style: hidden;
  border-top-style: hidden;
  border-bottom-right-radius: 7px;
  transition: 0.5s;
              
}

.box-one::before, .box-one::after{
    width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.draw-corner::before{
  border-left: 3px solid $blue;
  border-top: 3px solid $blue ;
  -webkit-transform-origin: left top;
}

.draw-corner::after{
   border-top: 3px solid $blue;
  border-left: 3px solid $blue;
  -webkit-transform-origin: left top;
}

.box-one:hover::after, .box-one:hover::before {
  -webkit-transform: scale(.99);
}
















#box-two{
  @extend %box;
}

#box-three{
  transition: background-color .5s ease-in-out;
  @extend %box;
  border: $blue;
  color: $blue;
  border-style: solid;
  border-radius: 5px;



}

#box-three:hover{
  color: $white;
  background-color: $blue;
}

#box-four{
  @extend %box;
  border: $blue;
  border-style: solid;
}

.box:hover {
  @extend %small-padding;
  @include fixed-height-and-width(400px, 550px);
  flex: 0 auto;
  background-color: $white;
  border: $blue;
  border-style: solid;
  border-left-style: solid;
  border-radius: 4px;
}

.expanded-content {
  @extend %small-padding;
  background-color: $white;
}

.button-container {
  display: flex;
  justify-content: right;
}

.hero-text {
  font-family: $main-font;
  font-size: 170px;
  font-weight: bold;
  color: $blue;
}

#web-gl-box {
  @extend %small-padding;
  @include fixed-height-and-width(800px, 1000px);
  @include flex-basics(colum);
  background-color: teal;
  margin: 5px;
}

#main_canvas_container{
  @include fixed-height-and-width(600px, 900px);
  background-color: white;
  position: relative;
  padding: 5%;
}

.tilt{
    @extend %small-padding;

}

#splash-box{
  text-align: center;
  align-content: center;
  color: $white;
  background-color: #5DA889;
  position: fixed;
  width: 100%;
  height: 100%;
}

.introduction-appear {
 transform: translate3d(0, 100%, 0)
}

.introduction-appear.introduction-appear-active {
    transform: translate3d(0, 0, 0);
  transition: transform 1.5s ease-in-out;
}


#name-animation{
  font-size: 100px;
}



.image {
  position: absolute;
}

#image-front{

}

#image-mid{

}

#image-back{

}

.main-image{
  transition: background .5s ease-in-out;
  background: url("sketch-01.png");
}

.main-image:hover{
  background: url("blenderimage-01.png")
}

#web-gl-title{
  position: absolute;
  color: $white;
  text-align: bottom;
  font-size: 160px;
}

#animation-title{
  position: absolute;

  text-align: bottom;
  font-size: 120px;
}

#animation-container{
 @include fixed-height-and-width(800px, 1000px); 
}