$heading-font: 'Cormorant Garamond', serif;
$text-font: 'Vollkorn', serif;
$white: #ECEEE4;
$main: #328F8A;
$dark: #173e43;
$acent: #E6C65D;

$background-light:#232525;
$background-dark: #1D1D1D;

@mixin flex-basics($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: top;
  justify-content: top;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

@mixin expanded-box(){
  width: 1200px;
  height: 100%;
  margin: 10px;
  padding: 10px 0 0 20px;
  margin-top: 10px;
  background-color: $white;
  display: inline-block;
  flex-grow: 1;
  flex: 0 auto;
  border-bottom: 10px solid $acent;
  border-radius: 5px;
}

%box {
  text-align: left;
  display: inline-block;
  flex-grow: 1;
}

body {
  font-family: $heading-font;
  background-color: $background-dark;
}

#nav-bar{
  background-color: $main;
  font-size: 30px;
  color: #fff;
  padding-left: 3%;
  height: 20%;
  z-index: 1;
  border-bottom: 4px solid $dark;
}

#bio{
  background-color: $main;
  color: #fff;
  padding-left: 3%;
  height: 20%;
  margin-bottom: 10px;
  border-bottom: 4px solid $dark;
  border-radius: 3px;
}

#main-content-center{
  margin: auto;
  width: 80%;
}

.flex-parent-box-container{
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;

}

.box{
  width: 400px;
  height: 600px;
  margin: 10px;
  padding: 10px 0 0 20px;
  margin-top: 10px;
  color:  $white;
  background-color: $background-light;
  display: inline-block;
  flex-grow: 1;
  flex: 0 auto;
  border-bottom: 10px solid $acent;
  border-radius: 5px;
  overflow: hidden;
}

.box:hover {
  transition: 0.7s;  
  color: $acent;
}

.box h1{
  background-color: $main;
  width: 90%;
  padding: 5px;
  margin-left: 2px;
  color: $white;
  border-radius: 3px;
}

.box h2{
  margin: 10px;
  margin-left: -40px;
  font-size: 310px;
  color: $white;
  font-family: $text-font;
}

.box p{
  color: $white;
  width: 80%;
  padding: 5px;
  margin-left: 2px;
  font-size: 20px;
}

.expanded-box{
  @include expanded-box(); 
  font-family: $text-font;
}

.expanded-box-cv {
  width: 100%;
  background-color: $white;
  padding: 20px;
}

.expanded-box-flex{
    text-align:center;
}

#animation-height{
  height: 920px;
}

#web-gl-box{
   height: 1000px;
}

#main_canvas_container{
  position: absolute;
  width: 1000px;
  height: 800px;
}

#splash-box{
  display: flex;
  text-align: left;
  align-content: center;
  color: $white;
  background-color: $dark;
  padding: 5%;
  position: fixed;
  width: 100%;
  height: 100%;
 justify-content: center;
}

#splash-text-container{ 
  margin-right: 10%;
  padding-right: 10%;
}

.accent{
  color: $acent;
}


.box-with-corner-hover{
  z-index: -1;
  -webkit-transition:0.5s;
  @extend %box;
  transition: 0.5s;         
}

.box-with-corner-hover::before, .box-with-corner-hover::after{
  z-index: -1;
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.7s;
}

.draw-corner::before{
  margin-left: -5px;
  margin-top: -5px;
  border-left: 3px solid $acent;
  border-top: 3px solid $acent ;
  -webkit-transform-origin: left top;
}

.draw-corner::after{
  margin-left: -5px;
  margin-top: -5px;
  border-top: 3px solid $acent;
  border-left: 3px solid $acent;
  -webkit-transform-origin: left top;
}

.box-with-corner-hover:hover::after, .box-with-corner-hover:hover::before {
  -webkit-transform: scale(.97);
}

//display images

.main-image{
  width: 500px;
  height: 450px;
  margin-left: -90px;
  transition: background .5s ease-in-out;
  background: url("sketch-01.png");
}

.main-image:hover{
  background: url("blenderimage-01.png")
}

#main-image-animation{
  width: 700px;
  height: 750px;
  transition: background .5s ease-in-out;
  background: url("castle.png");
  background-repeat: no-repeat;
  margin-left: -90px;
  margin-top: 272px;
}

 #main-image-animation:hover{
    background: url("castlegold.png");
 }

#git-logo{
  width: 500px;
  height: 400px;
  background: url("github-logo.png");
  background-repeat: no-repeat;
  margin-left: 150px;
  margin-top: 280px;
}

.image {
  $imagepositionfront: 0px;
  padding-left: $imagepositionfront;
  position: absolute; 
}

#window{
  overflow: hidden;
}

.box-normal-with-hover-transition{
  transition: background-color .5s ease-in-out;
  color: $white;
}

.box-normal-with-hover-transition:hover{
  color: $white;
  background-color: $main;
}

.box-normal-with-hover-transition h1{
  border: 4px solid $main;
    transition: border .5s ease-in-out; 
}

.box-normal-with-hover-transition:hover h1{
  border: 4px solid $white;
  color: $white;
  background-color: $main;
}


.list-item{
  border-color: $main;
  border-style: solid;
  transition: border .4s ease-in-out;
  padding-left: 15px;
  margin: 2px;

}

.list-item:hover {
  border-color: $acent;
    border-width: 5px;
}

.li-title{
font-size: 26px;
}

.li-keywords{
font-size: 16px;
margin-top: -10px;
}

#git{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 700px;
}

.back-button{
  width: 100px;
  height: 40px;
  color: $white;
  background-color: $dark;
  border: 5px none;
  border-radius: 7px;
}

#code-picture{
  margin: 10px;
}


.introduction-appear {
 transform: translate3d(0, 100%, 0)
}

.introduction-appear.introduction-appear-active {
    transform: translate3d(0, 0, 0);
  transition: transform 1.5s ease-in-out;
}

#name-animation{
  font-size: 100px;
}

.main-react-transition-appear {
 transform: translate3d(0, 100%, 0)
}

.main-react-transition-appear.main-react-transition-appear-active {
 
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease-in-out;
}

.main-react-transition-leave{
  opacity: 1;
}

.main-react-transition-leave.main-react-transition-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

